@page
@model StyleShareWebsite.Pages.StylePacks.DetailsModel

@{
    ViewData["PageName"] = ViewData["Title"] = "Szczegoly Paczek stylow";
}

<h1>Details</h1>

<div>
    <h4>StylePack</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StylePack.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StylePack.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StylePack?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
