@page
@model StyleShareWebsite.Pages.CommentsModel
@{
    ViewData["PageName"] = ViewData["Title"] = "Komentarze";
}

@foreach(var comm in Model.comments)
{
    <div class="row">
        <dt class="col-sm-4">
                Tytuł komentarza:
        </dt>
        <dd class="col-sm-8">
            @comm.Title
        </dd>
        <dt class="col-sm-2">
            Komentarz:
        </dt>
        <dd class="col-sm-10">
            @comm.Content
        </dd>
    </div>
}
<a href='javascript:history.go(-1)'>Back</a>