@page
@model StyleShareWebsite.Pages.Postables.Styles.EditModel
@{
    ViewData["PageName"] = ViewData["Title"] = "Style";
}
<script src="~/js/multiselect-dropdown.js"></script>

<h1>Edit Style</h1>

<h4>Style</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Style.Id" />
            <input type="hidden" asp-for="Style.User.Id" />
            <input type="hidden" asp-for="Style.Date" />
            <div class="form-group">
                <label asp-for="Style.Css" class="control-label"></label>
                <input asp-for="Style.Css" class="form-control" />
                <span asp-validation-for="Style.Css" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style.Html" class="control-label"></label>
                <input asp-for="Style.Html" class="form-control" />
                <span asp-validation-for="Style.Html" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style.Title" class="control-label"></label>
                <input asp-for="Style.Title" class="form-control" />
                <span asp-validation-for="Style.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select multiple id="selectTags" asp-for="SelectedTagsIds" class="form-control" asp-items=ViewBag.selectTags >
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
