@page
@model StyleShareWebsite.Pages.Postables.ColorSets.EditModel

@{
    ViewData["PageName"] = ViewData["Title"] = "Kolory";
}

<h1>Edit ColorSet</h1>

<h4>ColorSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ColorSet.Id" />
            <input type="hidden" asp-for="ColorSet.User.Id" />
            <input type="hidden" asp-for="ColorSet.Date" />
            <div class="form-group">
                <label asp-for="ColorSet.Colors" class="control-label"></label>
                <input asp-for="ColorSet.Colors" class="form-control" />
                <span asp-validation-for="ColorSet.Colors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorSet.Title" class="control-label"></label>
                <input asp-for="ColorSet.Title" class="form-control" />
                <span asp-validation-for="ColorSet.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select multiple id="selectTags" asp-for="SelectedTagsIds" class="form-control" asp-items=ViewBag.selectTags>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
