@page
@model StyleShareWebsite.Pages.AdminPanel.au.EditModel

@{
    ViewData["PageName"] = ViewData["Title"] = "Panel administracyjny";
}

<h1>Edit</h1>

<h4>AchievementUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AchievementUser.Id" />
            <div class="form-group">
                <label asp-for="AchievementUser.AchievementId" class="control-label"></label>
                <select asp-for="AchievementUser.AchievementId" class="form-control" asp-items="ViewBag.AchievementId"></select>
                <span asp-validation-for="AchievementUser.AchievementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AchievementUser.UserId" class="control-label"></label>
                <select asp-for="AchievementUser.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="AchievementUser.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
